nav{
  background-color: #F55A5A;
  box-shadow: 0 4px 6px 1px #e4e4e4;
}
nav span, p {
  padding: 10px 0px;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}

nav span {
  font-size: 3rem;
}

nav p{
  font-size: 18px;
}